auction_solver/build
auction_solver/auction_solver.xcworkspace/contents.xcworkspacedata
auction_solver/auction_solver.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
auction_solver/auction_solver.xcworkspace/xcuserdata/admin.xcuserdatad/UserInterfaceState.xcuserstate
auction_solver/auction_solver.xcworkspace/xcuserdata/admin.xcuserdatad/IDEFindNavigatorScopes.plist
